<!DOCTYPE html>
<html class="light" lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="parent(content,title,script)">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:replace="${title}">SCM</title>
        <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
        <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Quill Editor -->
        <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
    </head>
    <body class="dark:bg-gray-900 bg-gray-100 dark:text-white">
        <!--Common header-->
        <!--User logged in : navbar-->
        <div th:if="${loggedInUser}">
            <div th:replace="~{user/user_navbar::user-navbar}"></div>
        </div>
        
        <!--User not logged in : navbar-->
        <div th:unless="${loggedInUser}">
            <div th:replace="~{navbar::navbar}"></div>
        </div>

        <!--Main content-->
        <div>
            <!--Dynamic content-->
          <div th:replace="${content}"></div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
        <script th:src="@{'/js/script.js'}"></script>
        <th:block th:replace="${script}"></th:block>
    </body>
</html>